<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Core Elements Test Runner</title>
    <script src="../../webcomponentsjs/webcomponents.js"></script>
    <script src="../../web-component-tester/browser.js"></script>
  </head>
  <body>
    <script>
      WCT.loadSuites(['font-scaling-input-startup.html']);
      WCT.loadSuites(['font-scaling-input-changes.html']);
      WCT.loadSuites(['font-scaling-input-blanking.html']);
    </script>
  </body>
</html>
