:host {
  display: block;
  color: red;
}

#textarea {
  text-align: center;
  overflow: hidden;
  padding: 0px;
}

#fake {
  font-family: inherit;
  word-wrap: break-word;
  white-space: pre-wrap;
  border: 1px solid red;
  display: none;
}
